apiVersion: v1
kind: Service
metadata:
  namespace: devops-w-kube
  name: pingpong-svc
spec:
  type: LoadBalancer
  selector:
    app: pingpong
  ports:
    - port: 2345
      name: http
      protocol: TCP
      targetPort: 3003
---

apiVersion: v1 
kind: Service
metadata:
  namespace: devops-w-kube
  name: pingpong-db-svc
  labels:
    app: pingpong-db
spec:
  ports:
  - port: 5432
    name: web
  clusterIP: None
  selector:
    app: pingpong-db